@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 22.5 66.67% 2.35%;
    --foreground: 20 100% 94.12%;

    --primary: 19.5 100% 60.78%;
    --primary-foreground: 0 0% 100%;

    --card: 22.5 66.67% 2.35%;
    --card-foreground: 20 100% 94.12%;

    --popover: 22.5 66.67% 2.35%;
    --popover-foreground: 20 100% 94.12%;

    --secondary: 19.71 64.81% 21.18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 25.71 11.48% 11.96%;
    --muted-foreground: 15 1.61% 51.37%;

    --accent: 19.71 64.81% 21.18%;
    --accent-foreground: 20 100% 94.12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 19.5 100% 60.78%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
